.left {
  width: 70%;
  float: left;
}

.right {
  width: 30%;
  float: right;
}

.img-size {
  width: 50px;
}

.navbar > li {
  display: inline-block;
}

/* .navbar a {
  font-size: 32px;
  text-decoration: none;
} */

.navbar a:link {
  text-decoration: none;
  color: red;
}
.navbar a:visited {
  text-decoration: none;
  color: blue;
}
.navbar a:hover {
  text-decoration: none;
  color: yellow;
}
.navbar a:active {
  text-decoration: none;
  color: green;
}
